---
import PbImage from "./PbImage.astro";

const { offre } = Astro.props;

const {
    nomMaison,
    adresse,
    prix,
    surface,
    nbChambres,
    nbSdb,
    favori = false,
} = offre;
---

<article
    class="offre bg-white rounded-2xl shadow-sm overflow-hidden"
    data-favori={favori ? "true" : "false"}
>
    <!-- IMAGE CLIQUABLE -->
    <a href={`/offres/${offre.id}`} class="block relative h-52 overflow-hidden">
        <PbImage
            record={offre}
            recordImage={offre.images?.[0]}
            width={500}
            height={300}
        />

        {
            favori && (
                <span class="absolute top-3 right-3 bg-amber-400 px-3 py-1 rounded-full">
                    ★ Favori
                </span>
            )
        }
    </a>

    <div class="p-5">
        <!-- NOM CLIQUABLE -->
        <h2 class="font-semibold text-lg">
            <a href={`/offres/${offre.id}`} class="hover:underline">
                {nomMaison}
            </a>
        </h2>
    </div>
</article>
